#!/usr/bin/env bash

fzf_change_directory() {
    local directory=$(
    {{ nix_bin }}/fd --type d | \
        fzf --query="$1" --no-multi --select-1 --exit-0 \
        --preview 'tree -C {} | head -100'
    )
    if [[ -n $directory ]]; then
        cd "$directory"
    fi
}

fzf_change_directory
